.vm-keypad {
  background: var(--bg);
  padding: 28px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
  width: 310px;
  user-select: none;
}

.vm-display {
  background: var(--panel);
  color: var(--accent);
  font-size: 2rem;
  text-align: right;
  padding: 12px 18px;
  border-radius: 12px;
  margin-bottom: 20px;
  height: 52px;
  letter-spacing: 3px;
  border: 2px solid var(--accent);
  font-family: "Digital-7", monospace;
}

.vm-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.vm-btn {
  background: var(--panel);
  border: 1px solid var(--bg);
  padding: 18px 0;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.08s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.vm-btn:active {
  transform: translateY(2px);
  color: var(--panel);
}
.vm-btn.special {
  background: var(--panel);
}
.vm-btn.enter {
  background: #00c46b;
  color: var(--panel);
  font-weight: bold;
}
.vm-btn.enter:active {
  background: #00e07a;
}
