:host {
  width: 80%;
}

.vending-grid {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
}

@media (max-width: 800px) {
  .vending-grid {
    width: 100%;
  }
}
